html, body{
	height: 100%;
	margin: 0; 
	padding: 0;
}

body{
	overflow: hidden;
	}
	

	
#wingsLeft{
	width: 33.3333%;
	height: 100%;
	margin: 0%;
	overflow: hidden;
	float: left;
	}
	
#wingsLeft img{
	margin-top: 40%;
	}
	

	
#mapCentre{
	position: absolute;
	left: 33.3333%;
	width: 33.3333%;
	height: 100%;
	margin: 0%;
	overflow: hidden;
}

#mapRight{
	position: absolute;
	left: 66.6667%;
	width: 33.3333%;
	height: 100%;
	margin: 0%;
	overflow: hidden;
	}

#map-canvas{ 
	width: 300%;
	height: 300%;
	margin: 0; 
	padding: 0;
	transform:;
	//transform-origin: center, center;
}

#map-canvas2{ 
	width: 300%;
	height: 300%;
	margin: 0; 
	padding: 0;
	transform:;
	//transform-origin: center, center;
}

.mapDivCrow{
	-webkit-filter: contrast(2.6) hue-rotate(240deg) opacity(0.8);
	}
	
.mapDivDove{
	-webkit-filter: hue-rotate(0deg) brightness(2.2) opacity(0.6);
	}

#birdControl{
	bottom: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
	position: absolute;
	z-index:100;
	margin: 0 auto;
}


#svoverlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 98;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

button{
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
	background-color: #ff7c5B;
	color: #FFFFFF;
	font-weight: bold;
	padding-bottom: 10px;
}

#startHere{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 200;
	opacity: 100;
	background-color: #777777;
	text-align: center;
	transition: opacity .5s ease-in-out;
}

#birdy {
	width: 100%;
	text-align: center;
	height: 200px;
	position: absolute;
	bottom: 15%;
	margin: 0 auto;
	z-index: 50;
}

#birdy img{
	width: 200px;
	height: auto;
}

#crow{
	margin-top: 300px;
	width: 200px;
	background-color: #000000;
	color: #ffffff;
	font-size: 2em;
	padding: 5px;
}

#dove{
	margin-top: 300px;
	padding: 5px;
	width: 200px;
	background-color: #ffffff;
	color: #000000;
	font-size: 2em;
}
=======
>>>>>>> 350577d4374ed6c8109eeb8be15744565001d84e

}
